body {
  margin: 5vw 10vw 5px 10vw;
  padding: 5px;
  background-color: #AFEEEE	;
  color: 	#BF40BF;
  font-family: sans-serif;
  font-size: 2.2rem;
}

body * {
  box-sizing: border-box;
}

input, button {
  font-size: 3rem;
}

#title {
  transition: all 3s;
}

.specialTitle {
  text-decoration: underline;
  color: #191919;
  text-shadow: 0px 0px 13px #ff0072;
}

#outputText {
  background-color: #191919;
  padding: 3vmin;
}
